<div class="container" >
  
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Práctica Realizada</th>
          <th scope="col">Fecha</th>
          <th scope="col">Profesional</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let cura of curaciones">
            <th scope="row" >{{cura.MedicacionAplicada}}</th>
            <th scope="row" >{{cura.fechaRealizada}}</th>
            <th scope="row" >{{cura.profesional}}</th>
        </tr>

       
      </tbody>

   
    </table>

   
</div>