<div class="container" >
  
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Práctica Realizada</th>
          <th scope="col">Fecha</th>
          <th scope="col">Profesional</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let cura of curaciones; let i = index"  (click)="MoreInfo(i)"  style="cursor: pointer;">
            <td scope="row" >Correctamente</td>
            <td scope="row" >{{cura.fechaRealizada | date: 'dd/mm/yyyy'}}</td>
            <td scope="row" >{{cura.profesional}}</td>
        </tr>

       
      </tbody>

   
    </table>

   
</div>