

<div class="row w-110 text-center bg-info" style="margin-bottom: 2.6vh;">
  <h1 class="display-4 fw-medium" style="padding: 1.5%; font-size: 2rem;" *ngIf="Local">{{Local.nombre}}</h1>
</div>


<div class="container" *ngIf="Local">
  <div class="card mb-8" style="max-width: 100%; height: 55vh; overflow: hidden;">
        <div class="row g-3">
          <div class="col-md-4">
            <img src="{{Local.foto }}" class="img-fluid " style="height: auto; border-radius: 15%;margin-top: 2%;margin-left: 2%;">
          </div>
        <div class="col-md-8">
            <div class="card-body">
           
              <p class="card-text"><small class="text-body-secondary">&nbsp;</small></p>            
              <p class="card-text"></p>

                    <!-- Detalles adicionales en un acordeón -->
                    <div class="col-sm-12 ">
                      <div class="accordion" id="accordionDetalles" >

                            <!-- Detalle 3: numHabitacion, medica y observaciones -->
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="detalle3">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetalle3" aria-expanded="true" aria-controls="collapseDetalle3">
                                  Datos Generales
                                </button>
                              </h2>
                              <div id="collapseDetalle3" class="accordion-collapse collapse show" aria-labelledby="detalle3" data-bs-parent="#accordionDetalles">
                                <div class="accordion-body">
                                  <p><strong>Habilitación Provincial: </strong> {{ Local.habilitacionProvincial }}</p>
                                  <p><strong>Habilitación Municipal: </strong> {{ Local.habilitacionMunicipal }}</p>
                                    <p><strong>Domicilio: </strong> {{ Local.domicilio }}</p>
                                    <p><strong>Localidad: </strong> {{ Local.localidad }}</p>
                                    <p><strong>Número de contacto:</strong> {{ Local.numeroTelefonico }}</p>
                                  
                                </div>
                              </div>
                            </div>
                            
                     
                          
                         </div>
                     </div>
         
   

             </div>

             <div class="d-flex justify-content-end mt-3 position-absolute bottom-0 end-0 mb-2 me-2">
              <a *ngIf="cargoUsuario === '4'" class="btn btn-primary me-2" (click)="openUpdateAlert()">Actualizar Datos</a>
              <a *ngIf="cargoUsuario === '2' || cargoUsuario === '4'" class="btn btn-primary" (click)="LoadMedicamentoLocal()">Cargar medicamentos</a>
            </div>

        </div>
    </div>
  </div>
</div>





<!-- 
<div class="row w-110 text-center bg-info" style="margin-bottom: 2.6vh;">
  <h1 class="display-4 fw-medium" style="padding: 1.5%;">Lista de medicamentos</h1>
</div> -->


<div class="container text-center" >


  
  
      <table class="table table-dark table-striped">
        
        <thead>
          <tr>
            <th scope="col">Generico</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Peso</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let medicamento of Medicamentos, let i = index"  (click)="MoreInfo(i)">
              <th scope="row" >{{medicamento.Generico}}</th>
              <th scope="row" >{{medicamento.Nombre}}</th>
              <th scope="row" >{{medicamento.Marca}}</th>
              <th scope="row" >{{medicamento.Peso}}&nbsp;</th>
          </tr>
  
         
        </tbody>
  
      </table>
  

  
     
  </div>